.dotcardEdit,
.dotcardShare {
	color: #000000;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 12px;
	cursor: pointer;
}

.dotcardDelete {
	color: #cf3636;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 12px;
	cursor: pointer;
}
