.mainCard {
	background-color: #ffffff;
	width: 330px;
	height: 100%;
	margin-top: 5px;
	border-radius: 10px;
	position: relative;
}

.dotclickclass {
	cursor: pointer;
}
.dotclasscard {
	position: absolute;
	width: 100px;
	height: 120px;
	top: 35px;
	left: 220px;
	background-color: #ffffff;
	box-shadow: 0px 2px 20px 0px rgba(126, 122, 122, 0.25);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.priority {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #707070;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 10px;
	padding: 10px;
	line-height: 12px;
}

.priorityLabel {
	display: flex;
	align-items: center;
}

.priorityIndicator {
	background-color: red;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
	display: inline-block;
}
.high-priority {
	background-color: #ff2473;
}

.moderate-priority {
	background-color: #18b0ff;
}
.low-priority {
	background-color: #63c05b;
}

.heroSectionTitle {
	margin-left: 44px;
	font-family: "Poppins", serif;
	font-weight: 500;
	font-size: 25px;
	line-height: 25px;
	color: #000000;
}

.checklist {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: "Inter", serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
}
.checklistPop {
	text-align: center;
	background-color: #eeecec;
	width: 15px;
	height: 20px;
	cursor: pointer;
}

.heroSectionData {
	height: 110px;
	overflow-y: auto;
	white-space: nowrap;
	margin-left: 44px;
}

.statusDiv {
	display: flex;
	justify-content: space-around;
}

.statusDivInner {
	display: flex;
	justify-content: space-between;
}

.statusDiv > p {
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 10px;
	padding: 10px;
	line-height: 12px;
	color: #ffffff;
	margin-left: 5px;
}

.statusProgress,
.statusToDo,
.statusDone,
.statusBacklog {
	background-color: #eeecec;
	border-radius: 10px;
	color: #767575;
	margin-left: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 10px;
	padding: 10px;
	line-height: 12px;
	cursor: pointer;
}
