.cardMainDiv {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 20px;
	/* background-color: #edf5fe; */
	border: 1px solid #edf5fe;
	height: 100%;
}

.cardDiv {
	display: flex;
	align-items: center;
	margin-top: 30px;
	width: 100%;
}

.cardDiv img {
	width: 40px;
	height: 40px;
}
/* .pro {
	color: #000000;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
} */

.cardDiv p {
	margin-left: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #707070;
}
.logoutcard {
	margin-top: 250px;
}
